__pycache__/
*.py[cod]
*$py.class
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py

# VS Code
.vscode/

# PyCharm
.idea/

# Environment
.env
.venv/
venv/
ENV/
env/
